.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
}

.inputField {
  background-color: white;
  border: 2px solid grey;
  border-radius: 2px;
  height: 30px;
  width: 98%;
  color: black;
}
